#user_list{
	
	display: table;
	border-collapse: collapse;
	margin-top: 7px;
	
}

#entry{
	
	display: table-row;
	border-bottom: 1px solid #AAA;
	background-color: #8e8e94;
	
}

#entry:nth-child(even){
	
	background-color: #4D4D58;
	
}

#entry_name, #entry_delete, #entry_edit{
	
	display: table-cell;
	
}

#entry_name{
	
	padding-left: 7px;
	
}

#entry_edit{
	
	padding-right: 7px;
	
}

#entry_delete, #entry_edit{
	
	padding: 7px 7px 7px 7px;
	
}

img{
	
	width: 15px;
	height: auto;
	padding-right: 8px; 
	
}


#main input:not([type="submit"]){
	
	margin: 12px 7px 7px 7px;
	
}

#main input[type="submit"]{
	
	margin-top: 7px;;
	
}

select {
	
	margin: 12px 7px 0px 7px;
	
}

form{
	
	display: table;
	
}

label[for="desc"] {
    vertical-align: top;
}

form #row, #row_radio{
	
	display: table-row;
	
}

form #row *, #row_radio #cell{
	
	display: table-cell;
	
}

form div select {
	
	width: 120px;
	
}