*{
	
	font-family: Lato, Comic Sans MS;
	color: #E5E5E5;
}

body{
	
	width: 890px;
	margin: 60px auto 0px auto;
	background-color: #22222F
	
}

#main{
	
	background-color: #63636C;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	padding: 45px 70px 70px 70px;
	
}

#nav{
	
	display: flex;
	width: 890px;
	background-color: #595963;
	margin: 0 auto;
	padding: 17px 0 17px 0;
	justify-content: space-between;
	border-radius: 7px 7px 0px 0px;
}


#nav-item{

	
}

#nav-item a{
	
	text-decoration: none;
	padding: 17px 45px 17px 45px;
	
}

#nav #nav-item:first-child a{
	
	border-radius: 7px 0px 0px 0px;
}

#nav #nav-item:last-child a{
	
	border-radius: 0px 7px 0px 0px;
}

#nav-item a:hover{
	
	background-color: #50505A;
	
}

#nav-item a:active{
	
	background-color: #CFCFCF;
	
}

#warning_box{
	
	border-style: solid;
	border-width: 3px;
	border-color: #FFD800;
	border-radius: 4px;
	background-color: #FFEAAF;
	width: 175px;
	text-align: center;
	margin: auto;
	padding: 7px;

}

#error_box{
	
	border-style: solid;
	border-width: 3px;
	border-color: #FF0000;
	border-radius: 4px;
	background-color: #FFA1A1;
	width: 175px;
	text-align: center;
	margin: auto;
	padding: 7px;

}

input:not([type="button"]):not([type="submit"]), select{
	
	background-color: #0000;
	border: none;
	border-bottom: 2px solid #50505D;
	
}

input:not([type="button"]):not([type="submit"]):focus, select{
	
	outline: none;
	
}

input:not([type="button"]):not([type="submit"])::placeholder{
	
	color: #8a8a89;;
	
}

input[type="button"], input[type="submit"]{
	
	background-color: #484850;
	border: 1px solid #3E3E46;
	padding: 6px 7px 6px 7px;
	
}

select{
	
	background-color: #AAAAB5;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#454552'><polygon points='0,0 100,0 50,50'/></svg>");
	background-repeat: no-repeat; 
	background-size: 10px;
	background-position: right center;
	-moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
        display: none;
}

svg{
	
	background-color: #FFF;
	
}

textarea{
	
	background-color: #BBBBC4;
	
}

option{
	
background-color: #454552;

}
