#profile{
	
	display: table;
	
}

#profile_pic{
	
	position: absolute;
	left: 49%;
	width: 130px;
	height: 167px;
	
}

#profile_pic img {
	
	max-height: 100%;
	max-width: 100%;
    padding-left: 4%;
	
}

#profile_pic img.edit {
	
    padding-left: 1%;
	
}


#profile_row{
	
	display: table-row;
	
}

#profile_data{
	
	display: table-cell;
	padding: 7px 7px 7px 0px;
}

#profile_data.text{

	vertical-align: top;

}

#profile_row #profile_data:nth-child(2){
	
	padding: 17px 0px 17px 17px;
	word-wrap: break-word;
	word-break: break-all;
	width: 250px;
	
}

textarea{
	
	margin-left: 17px;
	resize: none;
	width: 250px;
	height: 150px;
	
}
