#main{
	
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: left;
	
}


#main input:not([type="submit"]), #main select{
	
	margin: 12px 7px 7px 7px;
	
}

form{
	
	display: table;
	
}

form div{
	
	display: table-row;
	
}

form div *{
	
	display: table-cell;
	
}

form div select {
	
	width: 46%;
	
}