#profile{
	
	display: table;
	
}

#profile_pic{
	
	position:absolute;
	right: 32.5%;
	top: 29%;
	
}

#profile_pic img{
	
	width: 100px;
	height: 137px;
	
}

#profile_row{
	
	display: table-row;
	
}

#profile_data{
	
	display: table-cell;
	padding: 7px 7px 7px 0px;
}

#profile_row #profile_data:nth-child(2){
	
	padding: 17px 0px 17px 17px;
	
}
