/* 
    Created on : 08.04.2018, 16:36:11
    Author     : Niklas
*/
body{
    font-family: "Calibri","Arial";
    font-size: 15px;
    width: 50%;
    position: relative;
    left: 25%;
}

h1{
    font-size: 50px;
}

h2{
    text-decoration: underline;
    font-size: 25px;
}

h3{
    text-decoration: underline;
    font-size: 20px;
}

#indent2{
    margin-left:20px;
}

img{
    float: right;
    width: 64px;
    height: 64px;
}

